@use "../abstracts" as a;

/*==================== BASE ====================*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 82.5%;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-attachment: fixed;
  color: var(--text-color);
  display: grid;
  place-items: center;
  margin: auto 0;
  // position: relative;
  // overflow: hidden;
}

.mainWhole {
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--container-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 0.5rem;
}


h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}
